
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&display=swap');


.form-group{
  margin-bottom: 3rem;
}
.belox{
  margin-top: 10vh;
   max-width: 1250px;
}
.title{
  margin-top: 5vh;
}
.menu{
  display:none;
}
.logos{
  color:#ffffff; 
  font-size: 36px;
}
.col{
  color: #ffffff;
}
.col ul{
  list-style: none;
  margin: 10vh 0;
}
.grf{
  justify-content: center;
  
}


.text-bold {
    font-weight: 800;
}
text-color {
    color: #FCA311;
}

#burgerMenu{
    display: inline;
    cursor: pointer;
}
#show-items-respon{
    z-index: 1;
    height: 146px;
    width: 100%;
    background-color: #f9fafb;
    position: fixed;
    top: 65px;
    display: none;
}
#show-items-respon ul{
display: flex;
flex-direction: column;
gap: 20px;
align-items: end;
text-decoration: none;
padding: 20px 20px;
justify-content: end;
width: 100%;
}
#show-items-respon ul li{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: end;
    align-items: end;
}
#show-items-respon ul li:hover{
    cursor: pointer !important;
    background-color: red !important;
    color: #fff;
}
#show-items-respon ul li a{
    text-decoration: none !important;
    color: inherit;
    content: none;
    list-style: none !important;
}
/* Main image - left */
.main-img img {
    width: 100%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    text-transform: uppercase;
    color: #FCA311;
}

.main-description .product-title {
    font-size: 2.5rem;
}

.old-price-discount {
    font-weight: 600;
}
.old-price{
    font-size: 1.2em;
}

.new-price {
    font-size: 2rem;
}
.details-title {
    font-weight: 600;
    font-size: 1.2rem;
}
.stars{
    color:gold;
}
.buttons .block {
    margin-right: 5px;
}
.quantity input {
    border-radius: 0;
    height: 40px;
}
.custom-btn {
    text-transform: capitalize;
    background-color: #FCA311;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: #FCA311 !important;
    font-size: 18px;
    color: white !important;
}

.similar-product img {
    height: 400px;
}

.similar-product {
    text-align: left;
}

.similar-product .title {
    margin: 17px 0px 4px 0px;
}

.similar-product .price {
    font-weight: bold;
}

.questions .icon i {
    font-size: 2rem;
}

.questions-icon {
    font-size: 2rem;
    color: #FCA311;
}

#myCarousele {
    margin-top: 50px;
}
@media (max-width: 768px) {
    .container__navbar__searchbar__input, .container__navbar__searchbar__icon{
        display: none;
    }
    .container__navbar__searchbar
    .form-control-plaintext {
        display: none;
    }
        /* Make preview images responsive  */
        .previews img {
            width: 100%;
            height: auto;
        }
        .container__navbar__searchbar__input .form-control-plaintext{
            display: none;
        }
        .container__previews{
            display: none;
        }
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
    .hero{
        display: none;
       }
       .belox{
        margin-top: -7vh;
       }
       .title{
        text-align: center;
       }
       .formulaire h2{
        display: none;
       }
       .iconf{
        display: none;
       }
       .menu{
        display:flex;
       }
       .logos{
        margin-left:30vw;
       }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}
* {
    font-family: 'Doppio One','Inter', sans-serif;
    margin: 0;
    padding: 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.container__navbar__searchbar {
    background: #E5E5E5;
    display: flex;
}

.container__navbar__searchbar__icon {
    margin: 0 10px 2px 0;
}

.container__navbar__searchbar__input {
    width: 90%;
}

.container__navbar__searchbar__input:focus {
    outline: none;
}

.container__navbar__svg-wrap {
    gap: 20px;
}

.container__navbar__svg-wrap a svg:hover {
    fill: #FCA311;
}

.container__navbar__svg-wrap__burgermenu {
    margin: 0 0 0 35px;
}

.container__navbar__line {
    opacity: 0.6;
    user-select: none;
}

.container__navbar__title {
    margin-left: 75px;
}

.carousel {
    height: 550px;
    position: relative;
}

.carousel img {
    height: 550px;
    filter: brightness(50%) blur(0.5px);
}

.carousel__caption {
    position: absolute;
    top: 175px;
    left: 200px;
    font-family: 'DM Sans';
    color: #ffffff;
}

.carousel__caption h2 {
    font-size: 40px;
}

.carousel__caption p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 80px;
}

.carousel__caption__banner-button {
    background: #FCA311;
    padding: 16px 75px;
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Doppio One';
}

.carousel__caption__banner-button:hover {
    color: #000000;
    text-decoration: none;
}

.main__about-section {
    background: rgb(229, 229, 229, 0.1);
}

.aboutus-button {
    background: #FCA311;
    padding: 20px 40px;
    margin-left :175px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.newsletter-input:focus {
    outline: none;
}

.user-menu {
    display: none;
}

.user-menu div a {
    transition: 0.25s ease-in-out;
}

.user-menu div a:hover {
    background: #FCA311;
}