.text-bold {
    font-weight: 800;
}
.way{
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
    color: grey;
}

text-color {
    color: #FCA311;
}

/* Main image - left */
.main-img img {
    width: 100%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    text-transform: uppercase;
    color: #FCA311;
}

.main-description .product-title {
    font-size: 2.5rem;
}

.old-price-discount {
    font-weight: 600;
}
.old-price{
    font-size: 1.2em;
}

.new-price {
    font-size: 2rem;
}
.details-title {
    font-weight: 600;
    font-size: 1.2rem;
}
.stars{
    color:gold;
}
.buttons .block {
    margin-right: 5px;
}
.quantity input {
    border-radius: 0;
    height: 40px;
}
.custom-btn {
    text-transform: capitalize;
    background-color: #FCA311;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: #FCA311 !important;
    font-size: 18px;
    color: white !important;
}

.similar-product img {
    height: 400px;
}

.similar-product {
    text-align: left;
}

.similar-product .title {
    margin: 17px 0px 4px 0px;
}

.similar-product .price {
    font-weight: bold;
}

.questions .icon i {
    font-size: 2rem;
}

.questions-icon {
    font-size: 2rem;
    color: #FCA311;
}

#myCarousel {
    margin-top: 50px;
}
@media (max-width: 768px) {
    .container__navbar__searchbar__input, .container__navbar__searchbar__icon{
        display: none;
    }
    .container__navbar__searchbar
    .form-control-plaintext {
        display: none;
    }
        /* Make preview images responsive  */
        .previews img {
            width: 100%;
            height: auto;
        }
        .container__navbar__searchbar__input .form-control-plaintext{
            display: none;
        }
        .container__previews{
            display: none;
        }
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}